---
# new_vbr_upgrade tasks file for veeamhub.veeam_vas

# PRE-UPGRADE TASKS
- name: Copy license file
  ansible.windows.win_copy:
    src: "{{ source_license }}"
    dest: "{{ destination }}{{ destination_license_file }}"
  when: license | bool
- name: Create VBR silent upgrade answer file
  ansible.builtin.template:
    src: templates/VBR/VbrAnswerFile_upgrade.xml.j2
    dest: "{{ destination }}VbrAnswerFile_upgrade.xml"
    mode: '777'
- name: Enable Cloud Connect Maintenance Mode
  veeam_vbr_cloud_connect_maintenance:
    state: enable
  when: cloud_connect | bool
- name: Start adhoc VBR configuration backup job
  veeam_vbr_config_backup:
    state: adhoc
- name: Stopping and disabling all backup jobs
  veeam_vbr_upgrade_job_prep:
    state: disable
    jobs_file: "{{ vbr_jobs_file }}"
  when: not (cloud_connect | bool)
  register: jobs
- name: Print Backup Jobs backup file name
  ansible.builtin.debug:
    var: jobs
  when: not (cloud_connect | bool)
- name: Stopping all Veeam services prior to upgrade
  ansible.windows.win_shell: |
    Stop-Process -Name "Veeam.Backup.Shell" -Force -ErrorAction SilentlyContinue
    Get-Service veeam* | Stop-Service

# UPGRADING VEEAM SOFTWARE
- name: Upgrade Veeam Backup & Replication
  ansible.windows.win_package:
    path: "{{ source }}Setup\\Silent\\Veeam.Silent.Install.exe"
    state: present
    arguments: '/AnswerFile "{{ destination }}VbrAnswerFile_upgrade.xml" /SkipNetworkLogonErrors /LogFolder "{{ destination }}logs"'
  async: "{{ veeam_retries * 60 | int }}" # see main.yml for more info
  poll: 0
  register: async_result
- name: Check on Veeam Backup & Replication upgrade status
  ansible.builtin.async_status:
    jid: "{{ async_result.ansible_job_id }}"
  register: async_poll_results
  until: async_poll_results.finished
  retries: "{{ veeam_retries | int }}" # see main.yml for more info
  delay: 60 # 60 retries + 60 seconds = max 1 hour wait time

# POST-UPGRADE TASKS
- name: Ensure Veeam services are running before proceeding
  ansible.windows.win_shell: |
    Get-Service veeam* | Where-Object {$_.Name -ne "VeeamMBPDeploymentService"} | Start-Service
  retries: 3
- name: Disable Cloud Connect Maintenance Mode
  veeam_vbr_cloud_connect_maintenance:
    state: disable
  when: cloud_connect | bool
- name: Enabling all backup jobs in specified file
  veeam_vbr_upgrade_job_prep:
    state: enable
    jobs_file: "{{ vbr_jobs_file }}"
  when: not (cloud_connect | bool)
- name: Unmount ISO
  community.windows.win_disk_image:
    image_path: "{{ destination }}{{ destination_iso_file }}"
    state: absent
- name: Upgrade Complete! Checking OS for pending reboots
  pending_reboot_check:
  register: postcheck
- name: Rebooting server if necessary
  ansible.windows.win_reboot:
    msg: Reboot initiated by Ansible to complete VBR upgrade
  when: postcheck.pending_reboot | bool
