<?xml version="1.0" encoding="utf-8"?>
<unattendedInstallationConfiguration bundle="Vbr" mode="upgrade" version="1.0">
<!--[Required] Parameter 'mode' defines installation mode that silent install should operate in-->
<!--Supported values: install/upgrade/uninstall-->

<!--Note: unused [Optional] parameters should be removed from the answer file-->

	<properties>

		<!--License agreements-->
		<!--Specify parameters to accept all the license agreements during silent installation or upgrade-->

			<!--[Required] Parameter ACCEPT_EULA specifies if you want to accept the Veeam license agreement. Specify '1' to accept the license agreement and proceed with installation or upgrade-->
				<!--Supported values: 0/1-->
				<property name="ACCEPT_EULA" value="1" />

			<!--[Required] Parameter ACCEPT_LICENSING_POLICY specifies if you want to accept Veeam licensing policy. Specify '1' to accept the licensing policy and proceed with installation or upgrade-->
				<!--Supported values: 0/1-->
				<property name="ACCEPT_LICENSING_POLICY" value="1" />

			<!--[Required] Parameter ACCEPT_THIRDPARTY_LICENSES specifies if you want to accept all the 3rd party licenses used. Specify '1' to accept the license agreements and proceed with installation or upgrade-->
				<!--Supported values: 0/1-->
				<property name="ACCEPT_THIRDPARTY_LICENSES" value="1" />

			<!--[Required] Parameter ACCEPT_REQUIRED_SOFTWARE specifies if you want to accept all the required software licenses. Specify '1' to accept the license agreements and proceed with installation or upgrade-->
				<!--Supported values: 0/1-->
				<property name="ACCEPT_REQUIRED_SOFTWARE" value="1" />

		<!--License file-->
		<!--Specify path to a license file and autoupdate option-->

			<!--[Optional] Parameter VBR_LICENSE_FILE specifies a full path to the license file. If you do not specify this parameter(or leave it empty value), Veeam Backup & Replication will be installed using current license file. To install Community Edition it must be set to 0-->
				<!--Supported values: file path/0(to install CE)-->
				{% if license %}
				<property name="VBR_LICENSE_FILE" value="{{ destination }}{{ destination_license_file }}" />
				{% endif %}

			<!--[Optional] Parameter VBR_LICENSE_AUTOUPDATE specifies if you want to update license automatically(enables usage reporting). If you do not specify this parameter, autoupdate will be enabled. For Community Edition, NFR and Evaluation licenses it must be set to 1. For licenses without license ID information it must be set to 0-->
				<!--Supported values: 0/1-->
				{% if license %}
				<property name="VBR_LICENSE_AUTOUPDATE" value="{{ license_autoupdate }}" />
				{% endif %}

			{% if version | int >= 13 %}
			<!--  [Optional] Parameter VBR_PROACTIVE_SUPPORT specifies if you want to receive proactive support (enables diagnostic data sharing). If you do not specify this parameter, proactive support will be enabled. For Community Edition, NFR and Evaluation licenses it must be set to 1. For licenses without license ID information it must be set to 0 -->
				<!--  Supported values: 0/1  -->
				<property name="VBR_PROACTIVE_SUPPORT" value="{{ proactive_support }}"/>
			{% endif %}

		<!--Service account-->

			<!--[Optional] Parameter VBR_SERVICE_PASSWORD specifies a password for the account under which the Veeam Backup Service is running. Required during upgrade if service account is not LocalSystem account-->
			<!--Make sure you keep the answer file in a safe location whenever service account password is added to the answer file-->
				<!--Supported values: password in plain text-->
				{% if service_account_username != 'LocalSystem' %}
				<property name="VBR_SERVICE_PASSWORD" value="{{ service_account_password }}" hidden="1"/>
				{% endif %}

		<!--Database configuration-->
		<!--Specify database server installation options and required configuration parameters for Veeam Backup & Replication database-->

			<!-- Microsoft Entra ID Database configuration -->
			<!-- Specify Microsoft Entra ID database server installation options. -->
			<!-- [Optional] Parameter VBR_ENTRAID_DATABASE_INSTALL specifies if bundled PostgreSQL server for Microsoft EntraID will be installed. If set to '0', PostgreSQL Database won't be installed -->
				<!-- Supported values: 0/1 -->
				<property name="VBR_ENTRAID_DATABASE_INSTALL" value="{{ vbr_entra_id_install }}"/>

		<!--Automatic update settings-->
		<!--Specify Veeam B&R autoupdate settings-->

			<!--[Optional] Parameter VBR_AUTO_UPGRADE specifies if you want Veeam Backup & Replication to automatically upgrade existing components in the backup infrastructure. If you do not specify this parameter, Veeam Backup & Replication will not upgrade out of date components automatically-->
				<!--Supported values: 0/1-->
				<property name="VBR_AUTO_UPGRADE" value="{{ vbr_auto_upgrade }}" />

		<!--Setup settings-->
		<!--Specify additional setup settings-->

			<!--[Optional] Parameter REBOOT_IF_REQUIRED forces target server reboot, whenever it is required. If you do not specify this parameter, reboot is not performed automatically. Keep in mind that upgrade procedure will not be restarted after reboot-->
				<!--Supported values: 0/1-->
				<property name="REBOOT_IF_REQUIRED" value="0" />

	</properties>
</unattendedInstallationConfiguration>
